@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "PT Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header, footer, nav {
    font-family: "Inconsolata", monospace;
}

nav {
    background-color: #3A5A40;
}

li.dropdown a div a:active {
    background: #3A5A40;
}

h3 {
    padding-top: 10px;
}

p {
    font-size: 1em;
}

p, h3 {
    margin: 20px;
}

img.classic {
    padding-left: 20px;
    max-height: auto;
    max-width: 50%;
}

img.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    text-align: center;
    background-color: #3A5A40;
    padding: 10px;
}

footer a {
    color: white;
    padding: 10px;
}

footer a:hover {
    color: white;
}

footer p {
    color: white;
}

ul {
    padding-left: 30px;
}

li:not(.nav-item) {
    padding: 10px;
}

div:has(> blockquote) {
    background-color: #ededed;
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
}

blockquote + p {
    text-align: right;
}

.accordion .card {
    margin-bottom: 20px; /* Add more space between each accordion box */
    border-radius: 8px;  /* Optional: Adds rounded corners to the boxes */
    border: 1px solid #3A5A40; /* Match border color with the theme */
}

.accordion .card-header {
    padding: 10px 20px; /* Adjust padding to control the header size */
}

.accordion .card-body {
    padding: 15px; /* Adjust body padding for a more compact content area */
}

.accordion .btn-link {
    font-size: 1.1rem; /* Slightly reduce the font size for smaller headers */
    padding: 0; /* Remove extra padding around the button text */
    text-decoration: none; /* Remove underline from the accordion header */
}

.accordion .btn-link:after {
    content: "+";
    font-weight: 900;
    float: right;
  }